@font-face {
    font-family: "Chivo", sans-serif;
    src: url("../fonts/Chivo-Black.ttf");
    src: url("../fonts/Chivo-BlackItalic.ttf");
    src: url("../fonts/Chivo-Bold.ttf");
    src: url("../fonts/Chivo-BoldItalic.ttf");
    src: url("../fonts/Chivo-Italic.ttf");
    src: url("../fonts/Chivo-Light.ttf");
    src: url("../fonts/Chivo-LightItalic.ttf");
    src: url("../fonts/Chivo-Regular.ttf");
}

body {
    background-color: #C96567;
    font-family: 'Chivo', sans-serif;
 
}

.post-editor {
    background-color: #f5f5f5;
    width: 100%;
    color: black;
}

.post-editor.rdw-editor-main {
    max-height: 410px;
}

.post-editor .public-DraftStyleDefault-block {
    color: black;
    padding: 0px 14px 0px 14px;
}

.post-editor-wrapper {

}

.post-toolbar .rdw-dropdown-selectedtext {
    background-color: white;
    color: black;
}

.post-toolbar .rdw-dropdown-optionwrapper {
    background-color: white;
    color: black;
}